<%= simple_form_for @director, url: directors_path do |f| %>
  <%= f.input :name %>
  <%= f.input :bio_short %>
  <%= f.input :bio_long %>
  <%= f.input :bio_source %>
  <%= f.input :birth_year %>
  <%= f.input :death_year %>
h2>To go further</h2>
  <%= f.simple_fields_for :pages do |p| %>
    <%= p.input :description %>
    <%= p.input :url %>
    <% end %>
  <%= f.button :submit %>
<% end %>
