<div class="container">
    <div class="section-author">
      <!-- <div class="section-author-photo"> -->
        <%= cl_image_tag @director.photo.key, class:"author-photo" %>
        <!-- <img class="author-photo" src="img/authors/hu-jie.jpg" alt=""> -->
      <!-- </div> -->
      <div class="section-author-text">
        <h1> <%= @director.name %> </h1>
        <!-- <h1>胡杰 Hu Jie</h1> -->
        <!-- <div class="section-author-bio"> -->
          <div class="doc-summary">
            <p><%= @director.bio_short %></p>
          <!-- <div class="section-author-bio-short"> -->
          <!-- <p>Hu was born in Jinan, Shandong Province, and later attended the People's Liberation Army Arts College before serving in the People's Liberation Army for fifteen years. He then found work with the Xinhua News Agency prior to his debut as a director. He currently resides in Nanjing. -->
            <!-- <ion-icon class="plus-icon" name="add-circle-outline"></ion-icon> -->
          <!-- </p> -->
        <!-- </div> -->
        <!-- <div class="section-author-bio-long"> -->
          <p>
            <p><%= @director.bio_long %></p>
            <span>Source <%= @director.bio_source %></span>
            <!-- In addition to his work in film, Hu is an accomplished artist of woodblock prints, recently producing a series of pieces depicting scenes from the Great Famine which was intended to be exhibited in Tianjin in 2014 before being deemed too controversial, leading to the showcase's cancellation. <span>Source: Wikipedia</span> -->
          </p>
        </div>
        </div>
        <!-- </div> -->

    <div class="section-author-filmo">
      <h3 class="section-author-filmo-title">Filmography</h3>
      <div class="section-author-filmo-list">
        <ul>
          <li><a href="">Yuanmingyuan Artist Village (1994)</a></li>
          <li><a href="">Remote Mountain (1995)</a></li>
          <li><a href="">The Female Matchmaker (1996)</a></li>
          <li><a href="">The Trash Collector (short, 1998)</a></li>
          <li><a href="">The Janitors (short, 1998)</a></li>
          <li><a href="">The Construction Workers (short, 1998)</a></li>
          <li><a href="">The Factory Set up by the Peasants (short, 1998)</a></li>
          <li><a href="">Mountain Songs in the Plain (2001)</a></li>
          <li><a href="">Bask in Sunshine (2002)</a></li>
          <li><a href="">On the Seaside (1999-2003)</a></li>
          <li><a href="">The vagina monologues: stories from China (2004, with AI Xiaoming)</a></li>
          <li><a href="">Searching for Lin Zhao’s Soul (2004)</a></li>
          <li><a href="">Painting for the revolution peasants: paintings from Hu County (2005 with AI Xiaoming)</a></li>
          <li><a href="">Taishi Village (2005, with AI Xiaoming)</a></li>
          <li><a href="">Garden in Heaven ( 2005, with AI Xiaoming)</a></li>
          <li><a href="">Though I am Gone (2006)</a></li>
          <li><a href="">Spark (2013)</a></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="doc-more-infos">
    <div class="container">
      <h2>To go further...</h2>
      <div class="doc-links">
        <ul class="doc-links-list">
          <li>
            <a href="https://icarusfilms.com/other/filmmaker/hujie.html">Icarus Films distributes some of his movies</a>
          </li>
          <li>
            <a href="https://www.nytimes.com/2020/06/28/movies/hu-jie-films.html">New York Times interview</a>
          </li>
          <li>
            <a href="https://www.nybooks.com/daily/2015/05/27/chinas-invisible-history-hu-jie/">Interview for the New York Review</a>
          </li>
          <li>
            <a href="https://nuvoices.com/2020/07/30/hu-jie-the-chinese-documentary-filmmaker-exposing-the-harsh-realities-of-early-communist-party-rule/">Interview on Nüvoices</a>
          </li>
        </ul>
      </div>
    </div>
  </div>




<h2><%= @director.name %></h2>
<p><%= @director.bio_short %></p>
<p><%= @director.bio_long  %></p>
<p><%= @director.bio_source  %></p>
<p><%= @director.birth_year  %></p>
<p><%= @director.death_year  %></p>
<p><%= cl_image_tag @director.photo.key, height: 300, width: 400, crop: :fill %></p>
<% @director.pages.each do |page| %>
<p><%= page.description %>, <%= page.url %></p>
<% end %>
<%= link_to "Edit", edit_director_path(@director) %>
<%= link_to "Delete", director_path(@director), method: :delete %>

