<div class="header-text">
  <p>documentaries</p>
  <h1>By title</h1>
</div>
<div class="grid-container">
    <%= form_tag docs_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search"
      %>
    <% end %>
  <div class="section-authors">
    <% @docs = @docs.order("name ASC").group_by{ |u| u.name[0] }  %>
    <% @docs.each do |letter, docs| %>
      <h1 class="abc-title"><%= letter %></h1>
      <ul class="authors-list">
         <% docs.each do |doc| %>
        <li> <%= link_to doc.name, doc_path(doc) %>
          <% if current_user %>
            <% if current_user.admin? %>
              <p> <%= link_to "Edit", edit_doc_path(doc) %> <%= link_to "Delete", doc_path(doc), method: :delete %></p>
            <% end %>
          <% end %>
          </li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
