  <div class="container">
    <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@doc.errors.count, "error") %>
        prohibited this doc from being saved :
      </h2>
      <ul>
        <% @doc.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
    <%= simple_form_for @doc, url: docs_path do |f| %>
      <%= f.input :name %>
      <%= f.input :chinese_name %>
      <%= f.input :year %>
      <%= f.input :duration %>
      <%= f.input :doc_summary_short %>
      <%= f.input :doc_summary_long %>
      <%= f.input :doc_summary_source %>
      <%= f.input :poster, as: :file %>
      <!-- <div class="form-check"> -->

         <%#= f.collection_check_boxes :director_ids, Director.all, :id, :name, multiple: true do |b| %>
      <!-- <label class="checkbox-inline"> -->
       <%#= b.check_box %>
       <%#= b.label %>
      <!-- </label> -->
     <%# end %>
      <%= f.collection_check_boxes :director_ids, Director.all, :id, :name, multiple: true %>

        <!-- </div> -->


       <%#= f.collection_select(:director_ids, Director.all, :id, :name, multiple: true) %>

      <h2>Awards</h2>
      <%= f.simple_fields_for :awards do |award| %>
        <%= render 'award_fields', f: award %>
      <% end %>
      <div class='links'>
      <%= link_to_add_association 'add award', f, :awards %>
      </div>
      <%= f.input :trailer_link, as: :url %>
      <h2>Useful Links</h2>
      <%= f.simple_fields_for :links do |link| %>
      <%= render 'link_fields', f: link %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add link', f, :links %>
      </div>

      <%= f.button :submit %>
    <% end %>
    </div>
  </div>
