<div class="padding-top">
  <div class="container">
      <div class="grid-doc">
        <div>
          <h2 class="doc-title">
            <%= @doc.name %>
          </h2>
          <h3 class="doc-author">
            <% if @doc.directors.count == 1 %>
              by <% @doc.directors.each do |dir| %>
                <%= link_to dir.name, director_path(dir) %>
                <% end %>
              <% else %>
                by <%@doc.directors.each do |dir| %>
                  <%= link_to dir.name, director_path(dir) %><%= ", " unless dir == @doc.directors.last %>
              <% end %>
            <% end %>
          </h3>

          <div class="doc-infos">
            <div class="doc-year flex-center"><ion-icon class="doc-icon" name="calendar-number-outline"></ion-icon><%= @doc.year  %></div>
            <div class="doc-duration flex-center"><ion-icon class="doc-icon" name="time-outline"></ion-icon><%= @doc.duration  %></div>
            <div class="doc-chinese-name"><%= @doc.chinese_name %></div>
          </div>
        </div>
        <div class="grid-item-poster">
          <% if @doc.poster.present? %>
            <% if @doc.imgcredit.present? %>
              <%= cl_image_tag @doc.poster.key,
              overlay: {font_family:"Arial", :font_size=>12, :text=>@doc.imgcredit},
              gravity: :south_east,
              x:5,
              y:5,
              color: '#fff',
              class:"doc-poster" %>
            <% else %>
              <%= cl_image_tag @doc.poster.key, class:"doc-poster" %>
            <% end %>
          <% end %>
        </div>
        <div class="doc-summary">
          <div class="doc-summary-short">
            <p>
              <%= @doc.doc_summary_short  %>
              <!-- <ion-icon class="plus-icon" name="add-circle-outline"></ion-icon> -->
            </p>
          </div>
          <div class="doc-summary-long">
            <p>
              <%= @doc.doc_summary_long  %>
            </p>
            <%= @doc.doc_summary_source  %>
          </div>
        </div>
        <div class="doc-awards">
          <h3>Awards</h3>
          <div class="doc-awards-short">
            <ul class="doc-awards-list">
              <% @doc.awards.each do |award| %>
              <li><ion-icon class="star-icon" name="star-outline"></ion-icon> <%= award.name %>, <%= award.year %>, <%= award.location %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

        <div class="doc-trailer">
          <h3>Official Trailer</h3>

          <!-- <div class="embed-responsive embed-responsive-16by9"> -->
            <iframe class="embed-responsive-item" src="<%= video_embed(@doc.trailer_link) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!-- </div> -->
        </div>
  </div>

  <div class="doc-more-infos">
    <div class="container">
      <h2>To go further...</h2>
      <div class="doc-links">
        <ul class="doc-links-list">
          <% @doc.links.each do |link| %>
          <li>
            <a href=<%= link.url %>><%= link.description %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <% if current_user %>
        <% if current_user.admin? %>
          <div> <%= link_to "Edit", edit_doc_path(@doc) %>
                <%= link_to "Delete", doc_path(@doc), method: :delete %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
<!-- </div> -->
