<h2><%= @doc.name %></h2>
<p><%= @doc.chinese_name %></p>
<p><%= @doc.year  %></p>
<p><%= @doc.duration  %></p>
<p><%= cl_image_tag @doc.poster.key, height: 300, width: 400, crop: :fill %></p>
<p><%= @doc.doc_summary_short  %></p>
<p><%= @doc.doc_summary_long  %></p>
<p><%= @doc.doc_summary_source  %></p>
<p><%= @doc.trailer_link  %></p>
<% @doc.awards.each do |award| %>
<p><%= award.name %>, <%= award.year %>, <%= award.location %></p>
<% end %>
<% @doc.links.each do |link| %>
<p><%= link.description %>: <%= link.url %></p>
<% end %>
<%= link_to "Edit", edit_doc_path(@doc) %>
<%= link_to "Delete", doc_path(@doc), method: :delete %>
