
  <div class="header">
    <div class="header-top">
      <nav class="navbar navbar-top navbar-light fixed-top">
        <div class="container-fluid">
          <%= link_to "/" do %>
            <%= image_tag "CDD-logo.png", alt: "China Documentaries Database logo", class: "logo" %>
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
            <%= image_tag "CDD-logo.png", alt: "China Documentaries Database logo", class: "logo" %>

              <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> -->
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <%= link_to "Home", "/", class: "nav-link active" %>
                  <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                </li>
                <li class="nav-item">
                  <%= link_to "Find by Author", "/directors", class: "nav-link" %>
                  <!-- <a class="nav-link" href="#">Link</a> -->
                </li>
                <li class="nav-item">
                  <%= link_to "Find by Title", "/docs", class: "nav-link" %>
                  <!-- <a class="nav-link" href="#">Link</a> -->
                </li>
                <li class="nav-item">
                  <% doc = Doc.find(Doc.ids.sample) %>
                  <%= link_to "Random documentary", doc_path(doc), class: "nav-link" %>
                </li>
                <% if !current_user %>
                  <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                  </li>
                  <% else %>
                <li class="nav-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
                <% end %>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li> -->
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-danger" type="submit">Search</button>
              </form>
              <% if current_user %>
                <% if current_user.admin? %>
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <%= link_to "Create a new documentary", "/docs/new", class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "Create a new director", "/directors/new", class: "nav-link" %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
